<!-- local style -->
<link rel="stylesheet" href="styles1.css">
<!-- icon for buttons -->

<script src="https://kit.fontawesome.com/da59034009.js" crossorigin="anonymous"></script>
<!-- bootsrap and jquery -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
    integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
    crossorigin="anonymous"></script>
<!-- font link -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">


<div class="mainContainer">
    <div class="row ">
        <div class="col-md-6 column1" style="
            position: relative;
            left: 15%;">
            <img class='instapic'
                src="https://media.istockphoto.com/photos/mobile-phone-top-view-with-white-screen-picture-id1161116588?k=20&m=1161116588&s=612x612&w=0&h=NKv_O5xQecCHZic53onobxjqGfW7I-D-tBrzXaPbj_Q="
                alt="mobile1">
        </div>
        <div class="col-md-6 column2">
            <div class="textDiv">
                <div class="instaclonedDiv">
                    <h1 class='instaHeading' style='font-family: Charmonman, cursive;'>instacloned</h1>
                    <div style="color: rgb(20, 137, 214);" class="loginDiv">
                        <p>Alreday a user? </p>
                        <a href='/login' type="button" class="btn btn-primary btn-sm">Login Here</a>
                    </div>
                    <div class="signupDiv" style="color: rgb(20, 137, 214);; padding: 2% 0 0 0;">
                        <p>New user? </p>
                        <a href='/signup' type="button" class="btn btn-primary btn-sm">Sign up Here</a>
                    </div>
                    <div class="appButton" style="padding-top: 25%;">
                        <p>get the app on</p>
                        <button type="button" class="btn btn-dark btn-sm"><i class="fab fa-apple"></i> App
                            Store</button>

                        <button type="button" class="btn btn-outline-dark btn-sm"><i class="fab fa-google-play"></i>
                            Google Play</button>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>