<%- include('header') %>
    <% if(success_msg !='' ){%>
        <div style=" width: 300px; display:inline-block; "
            class="  col-md-10 alert alert-success alert-dismissible fade show" role="alert">
            <%= success_msg %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <%}%>
            <% if(error !='' ){%>
                <div style=" width: 300px; display:inline-block; "
                    class=" col-md-10 alert alert-warning alert-dismissible fade show" role="alert">
                    <%= error %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <%}%>

                    <%- include('footer') %>