<%- include('header') %>
    <!-- style sheet -->
    <link rel="stylesheet" href="styles2.css">
    <!-- font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap" rel="stylesheet">
    <!-- icon for buttons -->

    <script src="https://kit.fontawesome.com/da59034009.js" crossorigin="anonymous"></script>

    <div class="mainContainer">
        <div class="row ">
            <div class="col-md-6 column1" style="
            position: relative;
            left: 15%;">
                <img class='instapic'
                    src="https://media.istockphoto.com/photos/mobile-phone-top-view-with-white-screen-picture-id1161116588?k=20&m=1161116588&s=612x612&w=0&h=NKv_O5xQecCHZic53onobxjqGfW7I-D-tBrzXaPbj_Q="
                    alt="mobile1">
            </div>
            <div class="col-md-6 column2">
                <div class="textDiv">
                    <div id="instaclonedDiv" class="instaclonedDiv">
                        <div>
                            <h1 class='instaHeading' style='font-family: Charmonman, cursive;'>instacloned</h1>
                            <p>
                                Sign Up to see photos from your friends
                            </p>
                        </div>

                        <div class="formDiv">
                            <form action="">
                                <div class="">
                                    <div class="col-md-75">
                                        <input required placeholder="Mobile Number or Email" type="text">
                                    </div>
                                    <div class="col-md-75">
                                        <input required placeholder="Full Name" type="text">
                                    </div>
                                    <div class="col-md-75">
                                        <input required placeholder="Password" type="password">
                                    </div>
                                    <div class="col-md-75">
                                        <input required placeholder="Confirm Password" type="password">
                                    </div>

                                    <button class="btn btn-primary btn-sm"> Sign Up</button>
                            </form>

                        </div>
                        <div class="appButton" style="padding-top: 15%;">
                            <p>get the app on</p>
                            <button type="button" class="btn btn-dark btn-sm"><i class="fab fa-apple"></i> App
                                Store</button>

                            <button type="button" class="btn btn-outline-dark btn-sm"><i class="fab fa-google-play"></i>
                                Google Play</button>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <%- include('footer') %>